{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Precise Watches</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static './affiliate/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static './affiliate/css/modern-business.css'%}" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Precise Watches</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact/">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/entertainment/">Media</a>
          </li>
        </ul>
      </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">About
      <small>Precise Watches</small>
    </h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Home</a>
      </li>
      <li class="breadcrumb-item active">About</li>
    </ol>

    <!-- Intro Content -->
   <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="{% static 'affiliate/images/T7.jpeg' %}" alt="">
      </div>
      <div class="col-lg-6">
        <h2>About Precise Watches</h2>
        <p>We are a Marketing Research Company , striving to make your shopping experience to be more convinient and fun. We select an organize the latest trending products for our Lovely Clients.</p>
        <p>When time is not on your side to scan throught the Net to find the best products that suits your lovish Lifestyle, We are there working on your behalf to deliver great value.</p>
        <p>We make it easier for you to find your next Master Piece for your Acquintannce. Your online shopping experience will never be the same when you migrate from our site to the World of Complexities</p>
      </div>
    </div>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>Our Team</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static 'affiliate/images/T9.jpg' %}"alt="">
          <div class="card-body">
            <h4 class="card-title">Thabang Mokoena</h4>
            <h6 class="card-subtitle mb-2 text-muted">Software Engineer</h6>
            <p class="card-text">Bsc Degree in Computer Science and 3 year experience in Web Development at Precise Watches.</p>
          </div>
          <div class="card-footer">
            <a href="#">immensity.investments@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static 'affiliate/images/T8.jpg' %}" alt="">
          <div class="card-body">
            <h4 class="card-title">Mitchell Morell</h4>
            <h6 class="card-subtitle mb-2 text-muted">Marketing Coordinator</h6>
            <p class="card-text"> Degree in Marketing and 3 years experience as a Marketing Coordinator at Precise Watches  </p>
          </div>
          <div class="card-footer">
            <a href="#">immensity.investments@gmail.com</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" src="{% static 'affiliate/images/T10.jpg' %}"  alt="">
          <div class="card-body">
            <h4 class="card-title">Muzi Gule</h4>
            <h6 class="card-subtitle mb-2 text-muted">CFO</h6>
            <p class="card-text">Bcom in Accounting and 4 years experience as a Chief Financial Officer at Precise Watches</p>
          </div>
          <div class="card-footer">
            <a href="#">immensity.investments@gmail.com</a>
          </div>
        </div>
      </div>
    </div>
  <!-- /.row -->

<iframe style="width: 100%; height: 90px; border: 0;"  src="https://cdn.plus500.com/Media/Banners/970x90/38122/index.html?set=Vix_new&language=EN&country=GB&url=https%3A%2F%2Fwww.plus500.co.uk%2F%3Fid%3D130089%26pl%3D2" width="970" height="90" scrolling="no" frameborder="0" style="border:none"></iframe>
</div>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Precise Watches 2021</p>
    </div>
  </footer>
</body>
</html>
