{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Precise Watches</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static './affiliate/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static './affiliate/modern-business.css'%}" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Precise Watches</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about/">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact/">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="entertainment/">Media</a>
          </li>
        </ul>
      </div>
  </nav>

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style= "background-image: url('{% static 'affiliate/images/1.jpg' %}')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Precision</h3>
          <p>Every moment counts in this continuum.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/2.jpg' %}')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Reliability</h3>
          <p>You only have one chance to stand the test of time under any circumstances.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('{% static 'affiliate/images/3.jpg' %}')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Live to your standards</h3>
          <p>Take control of your destiny.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <h1 class="my-4">Monochrome Watches</h1>

    <!-- Portfolio Section -->
  <div class="row">
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="https://amzn.to/3e4ITLb"><img class="card-img-top" src="{% static 'affiliate/images/T1.jpg' %}"alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://amzn.to/3e4ITLb" style="font-size:16px";>Rolex Oyster Perpetual 39 Stainless </a>
          </h4>
          <p class="card-text">
            <ul>
              <li style="font-size:11px";>100% Authentic Rolex Oyster Perpetual 39 Reference# 114300-0003;</li>
              <li style="font-size:11px";>Case diameter: 39mm; Case material: Oystersteel; Dial color: Blue;</li>
              <li style="font-size:11px";>Bracelet type: Oyster; Bracelet material: Oystersteel; Clasp: Oysterclasp;</li>
              <li style="font-size:11px";>Automatic movement, Self-winding, Swiss made;</li>
            </ul>
          </p>
          <a href="https://amzn.to/3e4ITLb" class="btn btn-dark">$8,575.00 </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="https://amzn.to/2MLEKk5"><img class="card-img-top" src="{% static 'affiliate/images/T2.jpg' %}" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://amzn.to/2MLEKk5" style="font-size:16px";>Rolex Submariner "Hulk" Green Dial Men's </a>
          </h4>
          <p class="card-text">
            <ul>
              <li style="font-size:12px";>Rolex Submariner Date Watch Model 116610LV</li>
              <li style="font-size:12px";>Green Dial with Large Dot and Index Hour Markers</li>
              <li style="font-size:12px";>Date Window Displayed at 3 O'Clock with Cyclops Lens Over Date</li>
              <li style="font-size:12px";>Self-winding Automatic Movement COSC Superlative Chronometer Certified</li>
          </p>
          <a href="https://amzn.to/2MLEKk5" class="btn btn-dark">$22,995.00</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="https://amzn.to/3e53xuE"><img class="card-img-top" src="{% static 'affiliate/images/T3.jpg' %}" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://amzn.to/3e53xuE" style="font-size:16px";>Rolex Yacht-Master 42 White Gold</a>
          </h4>
          <p class="card-text">
            <ul>
              <li style="font-size:12px";>100% Authentic Rolex Yacht-Master 42 Reference# 226659-0002;</li>
              <li style="font-size:12px";>Case diameter: 42mm; Case material: 18k White Gold; Dial color: Black;</li>
              <li style="font-size:12px";>Bracelet type: Oysterflex; Bracelet material: Robber; Buckle type: Folding Oysterlock safety clasp with Easylink 5 mm comfort extension link;</li>
            </ul>
          </p>
          <a href="https://amzn.to/3e53xuE" class="btn btn-dark">$33,995.00</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="https://amzn.to/3rfpevS"><img class="card-img-top" src="{% static 'affiliate/images/T4.jpg'%}" alt=""></a>
        <div class="card-body">

          <h4 class="card-title">
            <a href="https://amzn.to/3rfpevS" style="font-size:16px";>Rolex Submariner Yellow Gold</a>
          </h4>
          <p class="card-text">
            <ul>
              <li style="font-size:12px";>Imported. Automatic movement, Self-winding, Swiss made;</li>
              <li style="font-size:12px";>100% Authentic Rolex Submariner; Reference# 116618LN-0001;</li>
              <li style="font-size:12px";>Case diameter: 40mm; Case material: 18k Yellow Gold; Dial color: Black;</li>
          </p>
          <a href="https://amzn.to/3rfpevS" class="btn btn-dark">$35,900.00</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="https://amzn.to/3kK14Hb"><img class="card-img-top" src="{% static 'affiliate/images/T5.jpg' %}" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://amzn.to/3kK14Hb" style="font-size:16px";>Rolex Sky Dweller Sundust</a>
              &nbsp
          </h4>
          <p class="card-text">
            <ul>
              <li style="font-size:12px";>100% Authentic Rolex Sky Dweller; Reference# 326935-0007</li>
              <li style="font-size:12px";>Case diameter: 42mm; Case material: 18k Rose Gold; Dial color: Dark Rhodium;</li>
              <li style="font-size:12px";>Bracelet type: Oyster; Bracelet material: 18k Rose Gold; Buckle type: Fold-over;</li>
              <li style="font-size:12px";>Automatic movement, Self-winding, Swiss made;</li>
            </ul>
          </p>
          <a href="https://amzn.to/3kK14Hb" class="btn btn-dark">$59,950.00</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 portfolio-item">
      <div class="card h-100">
        <a href="https://amzn.to/3bXeFHq"><img class="card-img-top" src="{% static 'affiliate/images/T6.jpg' %}" alt=""></a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="https://amzn.to/3bXeFHq" style="font-size:16px";>Rolex Daydate 40MM Platinum President </a>
          </h4>
          <p class="card-text">
            <ul>
              <li style="font-size:12px";>NEW - UNWORN 2017 with all the factory stickers.</li>
              <li style="font-size:12px";>Original Box and Warranty Card.</li>
              <li style="font-size:12px";>Free shipping for every order.</li>
              <li style="font-size:12px";>Guaranteed authentic & warranty.</li>
              <li style="font-size:12px";>Watch Guy NYC Is A High-End Luxury Watch Store located In New York City.</li>
            </ul>
          </p>
          <a href="https://amzn.to/3bXeFHq" class="btn btn-dark">$64,495.00</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <br/>
  <hr/>
  <br/><br/>
  <!-- Features Section -->
  <div class="row">
    <div class="col-lg-6">
      <div id="amzn-assoc-ad-ed98ebac-95ba-470d-8ad3-af8dd9ac99a9"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=ed98ebac-95ba-470d-8ad3-af8dd9ac99a9"></script>
    </div>
    <div class="col-lg-6">
      <script type="text/javascript">
      amzn_assoc_placement = "adunit0";
      amzn_assoc_tracking_id = "precisewatche-20";
      amzn_assoc_ad_mode = "search";
      amzn_assoc_ad_type = "smart";
      amzn_assoc_marketplace = "amazon";
      amzn_assoc_region = "US";
      amzn_assoc_title = "Products";
      amzn_assoc_default_search_phrase = "apple watches";
      amzn_assoc_default_category = "All";
      amzn_assoc_linkid = "7679c809dd85000b2bbd0ae33aea439e";
      amzn_assoc_search_bar = "true";
      amzn_assoc_search_bar_position = "top";
    </script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
    </div>
  </div>
    <!-- /.row -->

  <hr>

    <!-- Call to Action Section -->
  <div class="row mb-4">
    <div class="col-md-8">
      <p>Online shopping has never been made easier for you.Our Work Ethic, Your Convinience. </p>
    </div>
    <div class="col-md-4">
    <a href="https://amzn.to/3rkO6lG" class="btn btn-warning" >Shop Your Rolex At Amazon</a>
    <br/><br/>
    </div>
  </div>

</div>
  <!-- /.container -->

  <!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Precise Watches 2020</p>
  </div>
    <!-- /.container -->
</footer>

  <!-- Bootstrap core JavaScript -->
<script src="{% static './affiliate/vendor/jquery/jquery.min.js'%}"></script>
<script src="{% static './affiliate/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
</body>
</html>
